.contact-us-button,
.not-visible-button {
  border: none;
  border-radius: 0 0 20px 20px;
  position: fixed;
  background-color: #01224d;
  color: white;
  font-weight: bold;
  font-size: 22px;
  width: 190px;
  height: 30px;
  cursor: pointer;
  padding: 5%;
  z-index: 1;
  transition: 0.3s;
  font-family: intro-light;
}

.button {
  position: fixed;
  right: 0;
  top: 150px;
  transform: rotate(90deg);
  z-index: 1;
}

#icon{
  margin-left: 10px;
  color: rgb(8, 204, 8);
}

.not-visible {
  display: none;
}
