/*.create-page {*/
/*    margin: 150px;*/
/*}*/
/*.form {*/
/*    padding: 6em;*/
/*}*/

/*@media screen and (max-width: 600px) {*/

/*    .create-page {*/
/*        margin: 10px;*/
/*    }*/
/*    .form {*/
/*        padding: 1em;*/
/*    }*/
/*}*/

.create-page {
    margin-top: 150px;
    padding: 3% 8%;
}

.create-page a{
    color: #ea8737;
}

#submit-btn {
    text-align: center;
}

#submit-btn button {
    font-family: Intro-Light;
    font-size: 20px;
    width: 80%;
    text-align: center;
    border-radius: 10px;
    border:none;
    background-color: #01224d;
    color: white;
    font-weight: bold;
    padding: 10px 5px;
}

#submit-btn button:hover{
    background-color: #052a5cd2;
}

.create-confirmation .checks{
    text-align: left;
}

.create-confirmation{
    font-family: Intro-Light;
}

.create-confirmation .checks label {
    font-family: Intro-Regular-Alt;
    margin-left: 5px;
    font-size: 15px;
}