.create-page {
    margin-top: 120px;
    padding: 3% 8%;
    font-family: Intro-Regular-Alt;
}
.create-page h1{
    color: #01224d;
    font-size: 42px;
}
.create-page b {
    color: #ea8737;
}
.create-page input{
    font-family: Intro-Light;
}
.create-page input:focus-visible,.create-page textarea:focus-visible {
    color: black;
    font-family: Intro-Regular-Alt;
}
.create-page .form-control{
    font-family: Intro-Light;
}
.create-page p{
    font-family: Intro-Light;
    font-weight: 500;
    font-size: 22px;
}

.create-page a{
    color: #ea8737;
}
.campaign-details h2{
    margin-top: 10px;
    color:#01224d;
}
.campaign-details .form-label{
    font-size: 18px;
}
.campaign-details{
    font-size: 16px;
}
#submit-btn {
    text-align: center;
}
.create-page #create-campaign{
    text-align: center;
}
.create-page #create-campaign button{
    border: none;
    border-radius: 10px;
    background-color: #ea8737;
    padding: 30px 40px;
    color: white;
    font-size: 25px;
    outline: none;
}
.create-page #create-campaign button:hover{
    background-color: #e99e60;
    outline: none;
}
.create-page #create-campaign button:active{
    background-color: #e9b488;
    outline: none;
}

#submit-btn button {
    font-family: Intro-Light;
    font-size: 20px;
    width: 80%;
    text-align: center;
    border-radius: 10px;
    border:none;
    background-color: #01224d;
    color: white;
    font-weight: bold;
    padding: 10px 5px;
}

#submit-btn button:hover{
    background-color: #052a5cd2;
}

.create-confirmation .checks{
    text-align: left;
}

.create-confirmation{
    font-family: Intro-Light;
}

.create-confirmation .checks label {
    font-family: Intro-Regular-Alt;
    margin-left: 5px;
    font-size: 15px;
}
.create-page #alert{
    width: 50%;
    margin-left: 25%;
    text-align: center;
}


@media only screen and (max-width: 600px) {
    .create-page {
        margin-top: 140px;
        padding: 5%;
    }
}
