.login-page{
    margin-top: 160px;
    font-family: Intro-Regular-Alt;
}
.login-page .login-card{
    width: 50%;
    margin-left: 25%;
    text-align: center;
    padding: 10px;
}
.login-page .login-card h2{
    color: #052a5c;
}
.login-page .login-card h4{
    color: #2c2c2c;
    padding: 2px;
}
.login-page .login-card .login-form{
    width: 70%;
    margin-left: 15%;
}
.login-page .login-card .login-form hr{
    width: 100%
}
.login-page .login-card .login-form input{
    font-family: Intro-Light;
    border-radius: 3px;
}
.login-page .login-card .login-form .login-button{
    width: 100%;
    background-color: #052a5c;
    border: none;
    outline: none;
    color: white;
    font-family: Intro-Light;
    font-size: 18px;
    padding: 10px;
    border-radius: 3px;
    min-height: 50px;
    margin-bottom: 15px;
}
.login-page .login-card .login-form .login-button .loader-wrapper{
    position: absolute;
    left: 50%; 
    transform: translate(-50%, -50%);
    animation: fadeIn 0.2s;
    -webkit-animation: fadeIn 0.2s;
    -moz-animation: fadeIn 0.2s;
    -o-animation: fadeIn 0.2s;
    -ms-animation: fadeIn 0.2s;
}
.login-page .login-card .login-form .login-button:hover{
    background-color: #052b5cd9;
}
.login-page .login-card .login-form .alert{
        animation: fadeIn 1s;
        -webkit-animation: fadeIn 1s;
        -moz-animation: fadeIn 1s;
        -o-animation: fadeIn 1s;
        -ms-animation: fadeIn 1s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
