.support-us-page{
    margin-top: 150px;
    font-family: Intro-Light;
    padding:0;
    
}
.support-us-top-left{
    text-align: center;
    padding: 20px;
}
.support-us-top-left img{
    width: 350px;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 50%; 
    object-fit: cover; 
    border: none;
    outline: none;
}
.support-us-top-right{
    text-align: center;
    padding: 50px 10% ;
}
.support-us-top-right h1{
    font-size: 30px;
}
.support-us-top-right .donate-box{
    font-family: Intro-Regular-Alt;
    border-radius: 10px;
    background-color: #0e325e;
    color: white;
    font-size: 18px;    
    margin-left: 10%;
    margin-top: 50px;
    width: 80%;
}
.support-us-top-right .donate-box p{
    font-size: 22px;
}
.support-us-top-right .donate-box p{
    padding: 15px 0px 0px 0px;
}
.donate-box .inside-box {
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    padding: 20px 10% ;
}
.donate-box .inside-box .amount-box{
    background-color: rgb(141, 141, 141);
    padding:10px;
    border-radius: 10px;
    width: 100%;
    color: white;
    box-shadow: none;
    border: none;
}
.donate-box .inside-box .amount-box:hover{
    background-color: rgb(82, 82, 82);
    cursor: pointer;
}

.donate-box .inside-box .amount-box:focus{
    background-color: rgb(71, 71, 71);
    outline: none;
}
.donate-box .inside-box .donate-btn button{
    background-color: #0e325e;
    border: none;
    border-radius: 10px;
    color: white;
    padding:10px;
    width: 80%;
    margin-top: 10px;
    outline: none;

}
.donate-box .inside-box .donate-btn button:hover{
    opacity: 80%;
    outline: none;
}
.support-us-content-left {
    text-align: center;
    background-color: #ec903b3a;
}
.support-us-content-left img{
    width: 100%;
    min-height: 200px;
    max-height: 500px;
    object-fit: cover; 
}
.support-us-content-right {
    text-align: center;
    padding: 0px 15%;
}
.support-us-content-right h1{
    font-size: 30px;
}
#support-us-bottom-hr{
    width: 80%;
    margin-bottom: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
}
@media only screen and (max-width: 600px) {

    .support-us-top-left{
        text-align: center;
        padding: 10px;
    }
    .support-us-top-left img{
        width: 250px;
        height: 250px;
        position: relative;
        overflow: hidden;
        border-radius: 50%; 
        object-fit: cover; 
        border: none;
        outline: none;
    }
    .support-us-top-right{
        padding: 10px ;
    }
    .support-us-content-right {
        padding: 10px 5%;
    }
    .support-us-content-right b{
        text-align: center;
    }
    .support-us-content-right h1{
        font-size: 30px;
        text-align: left;
    }
}