.dashboard-page {
    margin-top: 160px;
}
.dashboard-page a{
    color: white;
    text-decoration: none;
}
.dash-card {
    margin: 50px;
    height: auto;
    padding: 50px;
}
.dash-card-top {
    font-family: Intro-Regular-Alt;
}
#dash-name, #dash-stats{
    color: #ea8737;
}
#dash-status{
    color:#ea8737;
}
.dash-left {
    font-family: Intro-Regular-Alt;
    font-size: 20px;
    padding: 10px;
}
.dash-left input{
    font-family: Intro-Light;
}
#airTM .dash-left{
    margin-bottom: -20px;
}
#airTM button{
    background-color: #ea8737;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    padding: 10px 15px ;
    margin-left: 5px;
    font-family: Intro-Regular-Alt;
}
#airTM button:hover{
   opacity: 0.8;
}
#airTM .help-contact{
    padding: 30px 0;
    text-align: center;
}
#airTM .help-contact p{
    font-family: Intro-Regular-Alt;
    font-size: 22px;
    width: 100%;
    text-align: center;
}
#airTM .help-contact button{
    background-color: #ea8737;
    text-align: center;
    margin: 0;
    padding: 10px 20px;
    border-radius: 20px;

}
.dash-btn{
    text-align: center;
}
.dash-btn button {
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 10px;
    background-color: #ea8737;
    color: white;
    font-family: Intro-Regular-Alt;
    font-size: 25px;
}
.dash-btn button:hover{
    opacity: 0.8;
    color: white;
}
#zelle .dash-left{
    margin-bottom: -20px;
}
#zelle #prompt{
    color: #000000;
    font-size: 22px;
    width: 100%;
}
#zelle #description{
    color: #7a7a7a;
    font-family: Intro-Light;
    font-size: 15px;
    width: 100%;
}
#zelle #star{
    color: #ea8737;
    font-family: Intro-Light;
}
#zelle .star-des{
    color: #e76800ea;
    font-family: Intro-Light;
    font-size: 15px;
    width: 80%;
    padding: 10px;
    margin-top: 20px;
    text-align: justify;
}
#zelle .new-circle{
    text-align: left;
}
#airTM #prompt{
    color: #000000;
    font-size: 22px;
    width: 80%;
}
#airTM #description{
    color: #7a7a7a;
    font-family: Intro-Light;
    font-size: 15px;
    width: 80%;
}
#zelle button{
    background-color: #ea8737;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    padding: 10px 15px ;
    margin-left: 5px;
    font-family: Intro-Regular-Alt;
}
#zelle button:hover{
    opacity: 0.8;
}
#zelle-email {
    margin-right: 5px;
}

.edit-btn button{
    border: none;
    outline: none;
    background-color: rgba(223, 223, 223, 0.281);
    border-radius: 10px;
    padding: 14px;
    color: #6e6e6e;
    font-size: 16px;
    width: 10%;
    font-family: Intro-Regular-Alt;
}
.edit-btn button:hover{
    background-color: rgba(146, 146, 146, 0.281);
}
.edit-btn button:active{
    background-color: rgba(75, 75, 75, 0.281);
}
.details-missing{
    text-align: center;
    font-family: Intro-Regular-Alt;
    font-size: 20px;
    padding: 2rem 1rem;
}

.dash-campaigns h2{
    font-family: Intro-Regular-Alt;
    margin-top: 20px;
    font-size: 25px;
}
.active-campaigns {
    width: 100%;
    margin-top: 10px;
    background-color: rgba(214, 214, 214, 0.5);
    border-radius: 10px;
    padding: 20px;
}

.active-cam-card {
    padding: 2% 5%;
    text-align: center;
    min-height: 700px;
}

.dash-active-cam img{
    width: auto;
    max-width: 300px;
    min-width: 100px;
    max-height: 300px;
    border-radius: 5px;
    object-fit: cover;
}
.dash-active-cam p{
    font-size: 18px;
}
.active-cam-card .raised{
    width: 30%;
    margin-left: 35%;
    text-align: center;
}
.active-cam-card .raised #zelle span{
    color: #6d1ed4;
}
.active-cam-card .raised #total{
    font-size: 22px;
}
.active-cam-card .raised hr{
    border: 1px solid rgb(212, 212, 212);
    width: 100%;
}
.active-cam-card .raised p{
    width: 80%;
    text-align: right;
    vertical-align: middle;
}
.active-cam-card #dash-raised {
    text-align: center;
    font-size: 20px;
    width: 100%;
}
.action-btn {
    text-align: center;
}
.action-btn button{
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 18px;
    width: 90%;
    min-height: 40px;
}

.action-btn #go{
    background-color: #0d325e;
    color: white;
}
.action-btn #go:hover{
    opacity: 0.8;
}
.action-btn #withdraw{
    height: 90%;
    margin-top: 5%;
    background-color: #ea8737;
    color: white;
}
.action-btn #withdraw:hover{
    opacity: 0.8;
}
.dash-plus-sign {
    text-align: center;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 15%;
}
.dash-plus-sign i{
    color: rgb(173, 173, 173);
}
.dash-plus-sign i:hover{
    color: rgb(75, 75, 75);
    cursor: pointer;
}
@media only screen and (max-width: 1200px) {
    .active-cam-card .raised{
        width: 90%;
        margin-left: 5%;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {

    .dashboard-page {
        margin-top: 160px;
    }
    .dash-campaigns h2{
        font-size: 20px;
    }
    .dash-card {
        margin: 10px;
        height: auto;
        padding: 5px;
    }
    .dash-left {
        width: 100%;
        padding: 0%;
    }
    .edit-btn button{
        padding: 10px;
        font-size: 13px;
        width: 60%;
        margin: 10px;
    }
    
    .dash-btn button {
        border: none;
        padding: 10px;
        border-radius: 10px;
        background-color: #ea8737;
        color: white;
        font-family: Intro-Regular-Alt;
        font-size: 20px;
        margin-bottom: 10px;
    }
    #airTM button{
        color: white;
        margin-left: 0px;
        margin-top: 5px;
        margin-bottom: 1rem;
    }
    #zelle button{
        color: white;
        margin-left: 0px;
        margin-top: 5px;
    }
    #zelle-email {
        margin-right: 0px;
    }
    #zelle-email input{
        margin-bottom: 1rem;
    }
    #zelle #description{
        width: 100%;
    }
    #zelle #star{
        color: #ea8737;
    }
    #zelle .star-des{
        width: 100%;
    }
    .active-campaigns {
        padding: 10px;
    }
    .active-cam-card {
        padding: 5px;
    }
    .react-sweet-progress {
        width: 80%;
        margin-left: 10%;
    }
    .dash-active-cam p{
        font-size: 18px;
    }
    .active-cam-card .raised{
        width: 90%;
        margin-left: 5%;
        text-align: center;
    }
    .action-btn {
        margin-top: -20px;
        margin-bottom: 0px;
    }
    .action-btn button{
        border: none;
        border-radius: 10px;
        font-size: 13px;
        padding: 4px;
        width: 90%;
    }
    .dash-active-cam img{
        width: auto;
        max-width: 200px;
        min-width: 100px;
        max-height: 300px;
    }
    #dash-name, #dash-stats, #dash-status{
        padding: 10px;
    }
    .dash-left p{
        padding: 0 10px;
    }
    .dash-plus-sign{
        margin-bottom: 5%;
    }
}