.dashboard-container-edit{
    margin: 0 auto;
    margin-top: 7.8%;
    width: 70%;
    background-color: white;
    padding-bottom: 50px;
}
.edit-area{
    padding-left: 2rem;
    padding-right: 2rem;
}
.submit-container button{
    background-color: #d4edda;
    color: #00360c;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 20px;
    margin-left: 5px;
    font-size: 18px;
    width: 200px;
    font-family: Intro-Light;
}
.submit-container button:hover{
    background-color: #aadab5;
    color: #00360c;
}
.submit-container button:disabled{
    cursor: not-allowed;
    background-color: #b3b3b3;
    color: #252525;
}
.edit-area .loader-wrapper{
    position: absolute;
    text-align: center;
    left: 49%;
    margin-top: -60px;
}
.edit-area .sweet-loading{
    margin: 20px;
}
.edit-area #alert{
    text-align: center;
}
.invalid-feedback{
    padding: 0 30px;
}

@media only screen and (max-width: 600px) {
    .dashboard-container-edit{
        width: 90%;
        background-color: white;
        padding-bottom: 30px;
    }
}