.campaigns-page{
    margin-top: 150px;
}
.grid-header{
    font-family: Intro-Regular-Alt;
}

.grid-header img{
    width: 60%;
    padding-top: 10%;
}
.grid-header .header-mid-img{
    padding: 0;
    padding-top: 4%;
    padding-right: 4%;
    text-align: center;
}
.grid-header .header-mid-img h2{
    color: #525252;
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.grid-header .header-mid-img img{
    width: 40%;
    padding: 0%;
    border-radius: 5px;
    box-shadow: 15px 15px 1px rgb(223, 223, 223);
}
.grid-header .header-mid-img img:hover{
    cursor: pointer;
}
.grid-header .mid-content{
    padding: 0%;
    padding-top: 2%;
}
.grid-header .mid-content .main-text{
    font-size: 2.5rem;
    width: 75%;
    margin-left: -10%;
    color: #525252;
}
.grid-header .mid-content .main-text span{
   color: #ea8737;
}
.grid-header .mid-content .bubble-text{
    padding: 5% 5% 5% 0;
    margin-left: -10%;
}
.grid-header .mid-content .bubble-text .bubble-quote{
    background-color: #ea8737;
    text-align: left;
    padding: 10px 35px;
    border-radius: 40px;
    width: 75%;
    color: white;
    font-size: 18px;
    font-family: Intro-Light;
    float: left;
}
.grid-header .mid-content .bubble-text .bubble-quote img{
    padding: 0%;
    width: 50px;
    margin-left: -25px;
    margin-right: 5px;
    vertical-align: middle;
    float: left;
}
.grid-header .mid-content .bubble-text .bubble-digit{
    background-color: rgb(223, 223, 223);
    float: right;
    width: 10%;
    min-width: 100px;
    margin-left: 1px;
    text-align: center;
    padding: 20px 15px;
    color: #525252;
    border-radius: 40px;
    font-size: 20px;
}
.searchbar{
    overflow: hidden;
    display: inline-flex;
    width: 98%;
    margin: 20px 0;
    margin-left: 1%;
}
.searchbar .form-control{
    border-radius: 5px!important;
    padding: 20px;
    margin-right: 2%;
    font-size: 14px;
    border: none;
    background-color: #f0f0f0;
}
.searchbar .input-group-text{
    background-color: #f0f0f0;
    border: none;
    outline: none;
    border-radius: 5px;
    min-width:50px;
}
.searchbar .input-group-text:hover{
    background-color: rgb(223, 223, 223);
    cursor: pointer;
}
.filter-section {
    text-align: left;
    width: 50%;
    margin-left: 25%;
    font-family: Intro-Regular-Alt;
    margin-top: 0px;
}
.filter-section h2, .filter-section p{
    color: #525252;
}
.filter-section .filters{
    border-radius: 5px;
    width: 98%;
    background-color: #f0f0f0;
    text-align: center;
    margin: 10px 0;
    margin-left: 1%;
}
.filter-section .filters .on{
    background-color: #ff943c41!important;
}
.filter-section .filters .on:hover{
    background-color: #ff943c20!important;
}
.filter-section .filters #quant-filter{
    color:#525252;
    font-size: 18px;
    padding: 20px;
    border-radius: 5px;
}
.filter-section .filters #quant-filter:hover{
    background-color: rgba(223, 223, 223, 0.748);
    cursor: pointer;
}
.filter-section .filters #quant-filter:active{
    background-color: #ea883746;
    cursor: pointer;
}
.filter-section .category-filter{
    margin: 20px 0;
}
.filter-section .category-filter .cat-filter {
    text-align: center;
}
.filter-section .category-filter .cat-filter .MuiButton-label{
    pointer-events: none;
}
.filter-section .category-filter .fade {
    opacity: 0.3;
}
.filter-section .category-filter button, .filter-section .category-filter .off{
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    font-family: Intro-Regular-Alt;
    text-transform: capitalize;
    background-color: #f0f0f0;
    color: #525252;
    width: 90%;
    padding: 10px;
}
.filter-section .category-filter .on-healthcare{
    background-color: #ff7d7d50;
}
.filter-section .category-filter #healthcare:hover, .filter-section .category-filter .on-healthcare:hover{
    background-color: #ff7d7d80;
}
.filter-section .category-filter .on-education{
    background-color: #71b98f50;
}
.filter-section .category-filter #education:hover, .filter-section .category-filter .on-education:hover{
    background-color: #71b98f80;
}
.filter-section .category-filter .on-small_business{
    background-color: #7099d050;
}
.filter-section .category-filter #small_business:hover, .filter-section .category-filter .on-small_business:hover{
    background-color: #7099d080;
}
.filter-section .category-filter .on-nutrition{
    background-color: #edc34350;
}
.filter-section .category-filter #nutrition:hover, .filter-section .category-filter .on-nutrition:hover{
    background-color: #edc34380;
}
.filter-section .reset-filter{
    border: none;
    color: #aa5353;
    background-color: transparent;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    width: 20%;
    margin-left: 80%;
    margin-top: -5px;
}
.filter-section .reset-filter{
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
.filter-section .reset-filter:hover{
    text-decoration: underline;
}

.pageination{
    text-align: center;
    padding: 20px;
}
.cam-loader{
    position: absolute;
    left: 50%; 
    margin-top: 200px;
    margin-bottom: 200px;
    transform: translate(-50%, -50%);
}
.pagination {
    justify-content: center;
    align-items: center;
    margin: 25px 0;
    background-color: transparent;
    width: 30%;
    margin-left: 35%;
    min-width: 400px;
    padding: 10px;
}
.pagination .page-item a {
    color: var(--brand-orange);
    border-radius: 5px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: transparent;
}
.pagination .page-item a:hover{
    background-color: rgba(225, 225, 225, 0.2);
}
.pagination .page-item:first-child a {
    border: none;
    background-color: transparent;
}
.pagination .page-item:first-child a:hover,.pagination .page-item:last-child a:hover {
    color: #ea8837bb;
}
.pagination .page-item:last-child a {
    border: none;
    background-color: transparent;
}
.pagination .active a {
    color: var(--brand-orange)!important;
    border-color: #ea883746!important;
}
.cam-container{
    padding: 0 40px;
    background-color: #f0f0f05a;
}
.cam-card{
    padding: 20px;
}
.cam-container .no-cards{
    text-align: center;
    color: #525252;
    margin: 20px;
    font-family: Intro-Regular-Alt;
    font-size: 18px;
}