.camp-card{
    cursor: pointer;
    max-height: 600px;
    min-height: 600px;
    font-family: Intro-Regular-Alt;
}
.logo-sec img{
    max-width: 50px;
    min-width: 50px;
    float: left;
}
.camp-card .description {
    position: relative;
    overflow: hidden;
}
.camp-card .description p{
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px; /* fallback */
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.camp-card .cam-img{
    text-align:center;
    overflow: hidden;
    background-color:#efefef;
}
.camp-card .cam-img img{
    min-height:300px;
    max-height:300px;
    object-fit: cover;
    border-radius: 0px 0px 20px 20px;
}
.logo-sec{
    max-height: 70px;
    min-height: 70px;
}
.logo-sec b{
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px; /* fallback */
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.logo-sec b{
    font-size: 18px;
}
.progress-text {
    text-align: center;
    width: 100%;    
}
.progress-text b {
    font-size: 18px;
}
.progress-text #raised {
    text-align: center;
    font-size: 16px;
    width: 150%;
    margin-left: -25%;
}

#read-more {
    text-align: center;
    font-size: 12px;
    color: rgb(99, 99, 99);
}

@media only screen and (max-width: 600px) {

    .camp-card{
        border-radius: 20px;
        width: 100%;
        min-height: 0px;
        max-height: 1000px;
    }
    .camp-card .cam-img{
        text-align:center;
        min-height:200px;
        max-height:300px;
        overflow: hidden;
        background-color:#efefef;
    }
    .camp-card .description p{
        word-break: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 16px; /* fallback */
        -webkit-line-clamp: 5; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
    .logo-sec{
        max-height: 200px;
        min-height: 0px;
    }
    .logo-sec b{
        word-break: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 20px; /* fallback */
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
    .logo-sec b{
        font-size: 20px;
    }
    .progress-text p{
        text-align: center;
    }
}
