.edit-page{
    margin-top: 150px;
}
.edit-page .edit-container {
    margin: 0 auto;
    width: 70%;
    background-color: white;
    font-family: Intro-Regular-Alt;
}
.edit-page .edit-container .banner{
    text-align: center;
    background-color: #ea883750;
    border-radius: 0 0 5px 5px;
    padding: 80px 10px;
    font-size: xx-large;
    color: #202020;
}
.edit-page .edit-container .sub-banner{
    font-family: Intro-Light;
    padding: 20px;
}
.edit-page .edit-container .sub-banner a{
    color: #202020;
}
.edit-page .edit-container .sub-banner a:hover{
    color: #777;
    text-decoration: none;
}
.edit-page .edit-container .loader-wrapper{
    position: absolute;
    left: 50%; 
    transform: translate(-50%, -50%);
    margin-top: 50px;
}