.campaignPage{
    margin-top: 10%;
}
.camp-page-vis {
    margin:  0 5% 0 10%;
}
/* donate leftf column */
.campaign-page-title-img{
    width: 100%;
    text-align: center;
    background-color: rgba(204, 205, 212, 0.3);
    padding: 2% 0;
    border-radius: 5px;
}
.campaign-page-title-img img {
    height: auto;
    max-height: 500px;
    min-height: 500px;
    border-radius: 5px;
}
.camp-page-story{
    text-align: justify;
    font-size: 20px;
    padding: 5% 5% 0 0;
}
#author-credit{
    margin-top: 10px;
    font-size: 20px;
    color: #7c7c7c;
}
.camp-page-story h2{
    font-size: 35px;
    margin-bottom: 15px;
    color: #01224d;
}

/* donate card right */
.donate-page-card {
    padding: 5% 20%;
}
.donate-page-card h1{
    text-align: center;
}
.donate-page-card p{
    text-align: center;
    font-size: 25px;
    color: #808080;
    margin: 20px 0;
}
.donate-page-card b{
    font-size: 30px;
    color: #01224d;
}
.donate-page-card-progress {
    width: 120%;
    margin-left: -8%;
    margin-bottom: 20px;
}
.donate-page-card button{
    background-color: #f77f00;
    border: none;
    font-size: 20px;
    color: white;
    margin: 10px 0;
}
.donate-page-card button:hover{
    background-color: #a56b2d;
}
.donate-page-card button:focus{
    background-color: #805e3b;
}

.payment-visual {
    margin:  0 5% 0 10%;
}
/* payments bottom of page */
.payment-card{
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 2%;
}
.payment-card-sec{
    text-align: center
}
.payment-card h1{
    font-size: 50px;
}
.payment-card p{
    font-size: 25px;
    color: #7c7c7c;
}
.payment-card-sec input{
    width: 30%;
    margin-left: 35%;
    margin-right: 5px;
    margin-top: 10px;
    height: 50px;
}
.check-text {
    text-align: left;
    margin-top: 22px;
    height: 50px;
    font-size: 15px;
}
#privacy-button{
    color: #01224d;
    font-weight: bolder;
    background-color: transparent;
    border: none;
}
.payment-start-button{
    width: 20%;
    margin-left: 40%;
    height: 50px;
    font-size: 20px;
    background-color: #f77f00;
    border: none;
}
.payment-slit{
    text-align: center;
    color: grey;
    font-size: 25px;
}
.payment-slit b{
    color: #01224d;
    font-size: 30px;
}

.consent-return{
    width: 20%;
    margin-left: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #01224d;
    border: none;

}