#reserve-top{
    padding-top: 10px;
    font-weight: 700;
    font-size: 20px;
    color: black;
}
#reserve-des{
    padding: 0 30px;
    margin-top: -10px;
    font-weight: 400;
    font-size: 12px;
    color: #2b292d;
}
.steps {
    margin-left: 8%;
}
.bold{
    font-size: 12px;
    margin-right: 38%;
}

.steps #text {
    width: 60%;
    font-size: 9px;
}
#username-text{
    color: black;
    font-size: 12px;
    font-weight: 700;
    font-weight: bold;
}
.input-container{
    margin: 0vw 6vw 0vw 6vw;
}
.input-field{
    max-width: 18vw;
    max-height: 2vw;
    align-items: center;
    background: #E5E5E5;
    border: none;
    text-align: center;
    border-radius: 15px;
    font-size: 8px;
}
.confirm-button {
    width:70%;
}
.confirm-button:hover {
    opacity: 0.8;
}
