@font-face {
    font-family: 'Intro-Book-Alt';
    src: local('Intro'), url(../../../fonts/Intro-Book-Alt.otf) format('opentype');
}
@font-face {
    font-family: 'Intro-Bold-Alt';
    src: local('Intro') url(../../../fonts/Intro-Bold-Alt.otf) format('opentype');
}
#reserve-top{
    padding-top: 10px;
    font-weight: 700;
    font-size: 22px;
    color: #0D325E;
}
#reserve-des{
    padding: 0 30px;
    margin-top: -10px;
    font-weight: 400;
    font-size: 16px;
    color: #2b292d;
}
.steps {
    margin-left: 4.8%;
    margin-top: -5%;
}
.steps-num #first {
    font-size: 2vw;
    position: absolute;
    color: white;
    margin: -6.4% 0 0 -16.8%;
}
.steps-num #second {
    font-size: 2vw;
    position: absolute;
    color: white;
    margin: -6.4% 0% 0px -2.1%;
}
.steps-num #third {
    font-size: 2vw;
    position: absolute;
    color: white;
    margin: -6.4% 0% 0px 12.6%;
}
.steps .reserve-steps-text {
    margin-left: -2%;
    margin-top: -8%;
}
.bold{
    font-size: 12px;
    margin-right: 10%;
}
.steps #text {
    width: 90%;
    margin-left: -13%;
    font-size: 10px;
    font-family: Intro-Book-Alt;
}
.steps #text-third {
    width: 90%;
    margin-left: -6%;
    font-size: 10px;
    font-family: Intro-Book-Alt;
}
.input-grid .text-container{
    margin: 0% 23%;
}
#username-text{
    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family: Intro-Book-Alt;
}
.input-grid .input-container{
    margin: -3% 23%;
}
.input-field{
    max-width: 22vw;
    max-height: 2.2vw;
    background: #EAEAEA;
    border: none;
    text-align: center;
    border-radius: 15px;
    font-size: 0.6em;
}
.input-grid .confirm-container{
    margin: 10% 15%;
    margin-bottom: 2%;
}
.confirm-button {
    border: none;
    max-height: 2.5vw;
    max-width: 14vw;
    font-family: Intro-Book-Alt;
}
.confirm-button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 900px) {
    #reserve-top{
        padding-top: 10px;
        font-weight: 700;
        font-size: 14px;
        color: #0D325E;
    }
    #reserve-des{
        margin-top: -20px;
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 12px;
        color: #2b292d;
    }
    .steps-num #first {
        font-size: 7vw;
        position: absolute;
        font-weight: 800;
        color: white;
        margin: -46% 0 0 1%;
    }
    .steps-num #second {
        font-size: 7vw;
        font-weight: 800;
        position: absolute;
        color: white;
        margin: -27.5% 0% 0px 0.7%;
    }
    .steps-num #third {
        font-size: 7vw;
        font-weight: 800;
        position: absolute;
        color: white;
        margin: -9.1% 0% 0px 0.6%;
    }
    .bold{
        font-size: 10px;
        margin-right: 50%;
    }
    .steps #text-first {
        width: 95%;
        margin-left: 10%;
        margin-top: 2%;
        text-align: left;
        font-size: 11px;
        font-family: Intro-Book-Alt;
    }
    .steps #text-second {
        width: 95%;
        margin-left: 10%;
        margin-top: -1%;
        text-align: left;
        font-size: 11px;
        font-weight: 400;
        font-family: Intro-Book-Alt;
    }
    .steps #text-third {
        width: 95%;
        margin-left: 10%;
        margin-top: 6%;
        text-align: left;
        font-size: 11px;
        font-family: Intro-Book-Alt;
    }
    #username-text{
        color: black;
        font-size: 12px;
        font-weight: 700;
        font-weight: bold;
    }
    .input-grid .text-container{
        margin: 5% 0;
    }
    .input-grid .input-container{
        margin: -10% 26%;
    }
    .invalid-feedback{
        font-size: 6px;
    }
    .input-grid .confirm-container{
        margin: 3% 30%;
    }
    .input-field{
        max-width: 50vw;
        max-height: 4vw;
        align-items: center;
        background: #E5E5E5;
        border: none;
        text-align: center;
        border-radius: 15px;
        font-size: 6px;
        margin-left: -10px;
    }
    .confirm-button {
        width:100%;
    }
}