.share-dialog, .thanks-dialog {
    height: 100%;
    width: 40%;
    text-align: center;
    margin-left: 30%;
    font-family: Intro-Regular-Alt;
    padding: 30px 20px;
}

.share-dialog h1, .thanks-dialog h1 {
    margin: 10px;
    margin-top: 20px;
}
.thanks-dialog h1{
    font-size: 45px;
}

.copy-btn {
    background-color: #ea8737;
    border: none;
    min-width: 70px
}
.copied {
    color: #ea8737;
    font-size: 20px;
}
#share-help {
    font-size: 15px;
    color: rgb(97, 97, 97);
    margin-bottom: -5px;
}

@media only screen and (max-width: 600px) {

    .share-dialog, .thanks-dialog {
        height: 100%;
        width: 110%;
        text-align: center;
        margin-left: -5%;
        padding: 20px 15px;
    }

    .share-dialog h1, .thanks-dialog h1 {
        margin: 10px;
        margin-top: 20px;
        font-size: 22px;
    }
    .copy-btn {
        font-size: 15px;
        text-align: center;
        padding-right: 50px;
    }
    .copied {
        font-size: 15px;
    }
    .thanks-dialog {
        padding: 30px 10px;
    }
    .thanks-dialog h1 {
        font-size: 25px;
    }
    .thanks-dialog p {
        font-size: 20px;
    }
}