.construction-page{
    margin-top: 200px;    
    background-color: rgb(255, 245, 238);
    width: 100%;
    padding: 5%;
}

#intro-text  {
    font-size: 20px;
}
#description {
    font-size: 20px;
    float: left;
    width: 65%;
    margin-bottom: 50px;
}
#construction-logo{
    float: right;
    width: 30%;
}

#construction-content {
    text-align: justify;
    font-size: 20px;
}

#construction-partners{
    text-align: center;
    font-size: 20px;
}

