.camp-card{
    cursor: pointer;
    max-height: 100%;
    min-height: 100%;
    font-family: Intro-Regular-Alt;
}
.logo-sec img{
    max-width: 50px;
    min-width: 50px;
    float: left;
}

.logo-sec b{
    font-size: 20px;
}
.progress-text b {
    font-size: 20px;
}
.progress-text p {
    font-size: 18px;
}

#read-more {
    text-align: center;
    color: rgb(99, 99, 99);
}

@media only screen and (max-width: 600px) {

    .camp-card{
        border-radius: 20px;
        width: 100%;    
    }
}