.donate-page{
    padding:20px;
    margin-top: 180px;
}
.img-tabs{
    text-align: center;
    background-color:rgba(1, 34, 77, 0.473);
    border-radius: 20px;
    padding: 20px 0;
}
.img-tabs img{
    max-width: 20%;
    min-width: 20%;
    border-radius: 50%;
    margin: 0 2%;
    border-width: 10px;
    transform: scale(0.9);
}
.img-tabs img:hover{
    cursor:pointer;
    opacity: 0.7;
}
.header-top{
    text-align: center;
}
.header-top h1{
    font-size: 60px;
    margin-bottom: 30px;
}
.header-top p{
    font-size: 20px;
    color: rgb(44, 44, 44);
}
#no-cam{
    font-size: 20px;
}
@media only screen and (max-width: 600px) {
    .donate-page{
        padding:20px;
        margin-top: 120px;
    }
    .img-tabs img{
        border-width: 5px;
        transform: scale(1.1);
    }
    .img-tabs{
        margin-bottom: -20px;
    }
    .header-top h1{
        font-size: 40px;
        margin-bottom: 10px;
        margin-top: -30px;
    }
    .header-top p{
        font-size: 18px;
        margin-bottom: -20px;
    }
    #no-cam{
        font-size: 18px;
    }
}