.donorhub-page {
  font-family: Intro-Regular-Alt;
}

.profile-pic{
  width : 100%;
  height: 100%;
  border-radius: 50%;
  object-fit:cover;
}

.donorhub-container{
  margin: 0 auto;
  width: 70%;
  background-color: white;
}

.banner{
  background-color: #ffe7c3;
  height: auto;
  border-radius: 0 0 10px 10px;
  margin-top: -20px;
}

.user-info{
  background-color: white;
  height: 350px;
  padding: 2%;
  margin: 0 auto;
}
.user-info h2{
  margin-bottom: -10px;
}

.user-info .user-img{
  margin-top: -9.7%;
  margin-bottom: 0px;
  object-fit: cover;
}
.user-info .user-img img{
  border-radius: 50%;  
  border: solid #ea8737 10px;
  text-align: center;
  width: 210px;
  height: 210px;
}
.user-info hr{
  width: 15%;
  height: 1.5px;
  background-color: #ea8737;
  margin-bottom: -10px;
}

.user-info p {
  text-align: center;
  font-size: 16px;
}
.user-info button{
  border: none;
  outline: none;
  background-color: rgba(223, 223, 223, 0.281);
  border-radius: 10px;
  padding: 5px 10px;
  color: #6e6e6e;
  font-size: 12px;
}
.user-info button:hover{
  background-color: rgba(223, 223, 223, 0.404);
  color: #4d4d4d;
}

.user-info #user-desc{
  width: 35%;
  margin: 0 auto;
}

.user-info #user-friends {
  color: #01224d;
  margin-top: 1%;
  font-size: 22px;
}

.user-info #user-friends span{
  font-weight: bolder;
}

hr{
  margin-top: -2px;
  width: 80%;
}

.button-1 button, .button-2 button{
  border: none;
  background-color: white;
  color: #ea8737;
  font-size: 20px;
}

.button-1 button:hover, .button-2 button:hover{
  color: black;
}

.button-1 button{
  margin-left: 80%;
}

.button-2 button{
  margin-right: 80%;
}

.total-donations hr {
  background-color: #ea8737;
  height: 6px;
  width: 8%;
  border-radius: 16px;
  transform: rotate(90deg);
  margin-right: 85.5%;
  margin-top: 100px;
}

.total-donations h5{
  margin-top: -46px;
  margin-left: 12%;
  width: 50%;
  text-align: left;
  font-size: 20px;
}

.esp-txt{
  font-size: 20px;
  color: #ea8737;
  margin-top: -32px;
  margin-left: -326px;
}

.en-txt{
  font-size: 20px;
  color: #ea8737;
  margin-top: -32px;
  margin-left: -275px;
}

.campaigns-preview{
  padding: 10px 100px ;
  padding-left: 60px;
}

.campaigns-preview .campaign-circle {
  background-color: #ea8737;
  border-radius: 50%;
  width: 43px;
  height: 43px;
  margin-bottom: -35px;
}

.campaigns-preview button {
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: #c4c4c4;
  color: #575757;
  width: 43px;
  height: 43px;
  margin: 0 2px;
}
.campaigns-preview i:hover {
  cursor: pointer;
  color: #7e7e7ed8;
}
.campaigns-preview button:hover {
  background-color: #c4c4c488;
  color: #7e7e7ed8;
}

.donations-info {
  background-color: none;
  width:100%;
  height: 800px;
  margin: 0 auto;
  margin-top: -50px;
}
.donations-info h2 {
  margin-top: 50px;
  margin-bottom: -100px;
}
.donations-info #sub{
  /* margin-top: 100px; */
  margin-bottom: -30px;
  /* font-size: 20px; */
}
.donation-circles, .donation-circle {
 padding: 10%;
}

.circle-1{
  width: 200px;
  height: 200px;
  background-color: #ea8737;
  border-radius: 50%;
  margin-left: 50%;
  margin-top: 40%;
  padding-top: 35%;
  color: white;
  font-weight: bolder;
  font-size: 30px;
}

.circle-1 p{
  font-size: 13px;
  font-weight: normal;
  margin-bottom: -5px;
}

.circle-2, .circle-3, .circle-4, .circle-5 {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin-top: 15px;
  margin-left: 10%;
  padding-top: 11%;
  padding-left: 1%;
  color: white;
}

.circle-2 {
  background-color: #7099d0;
  border: 5px solid #b6d0f3d2;
  margin-left: 0%;
}

.circle-3 {
  background-color: #ff7d7d;
  border: 5px solid rgb(250, 200, 200);
  margin-left: 20%;
}

.circle-4{
  background-color: #71b98f;
  border: 5px solid #b5e4c8;
  margin-left: 20%;
}
.circle-5{
  background-color: #edc343;
  border: 5px solid #ffe596;
  margin-left: 0%;
  margin-top: 5%;
}

.progress-txt {
  margin-top: -20px;
  text-align: left;
  margin-left:27%;
  font-size: 18px;
}

.progress-text, .progress-text2 {
  margin-top: 2%;
  text-align: left;
  margin-left: 27%;
  font-size: 18px;
  width:40%;
}

.progress-text span {
  font-size: 25px;
}

.donor-progress {
  display: flex;
  position: relative;
  width: 40%;
  margin-left: 27%;
}

.donation-progress, .progress-bar{
  background-color: rgb(223, 223, 223);
  position: absolute;
  height: 8px;
  width: 100%;
  border-radius: 16px;
}

.progress-bar{
  background-color: #ea8737;
  z-index: 1;
}

.recent-act {
  padding: 10%;
}

.recent-act h3 , .recent-act p{
  text-align:left;
}

.recent-act p {
  font-size: 16px;
}

.recent-act h3{
  color: #ea8737;
  margin-bottom: 15px;
}

.recent-act hr{
  background-color: rgb(184, 184, 184);
  width: 75%;
  height: 1px;
  margin-left: 0;
  margin-top: -10px;
}

.recent-act p {
  margin-top: -12px;
}

.recent-box{
  width: 95%;
  margin-top: 25px;
}
.recent-box .update{
  padding: 0 10px;
}
.recent-box #title{
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}
.recent-box #amount{
  font-size: 20px;
  color: #ea8737;
}
.recent-box #comment{
  font-size: 20px;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  margin-top: -22px;
  font-family: Intro-Light;
}
.recent-box p{
  padding: 10px 0;
  font-size: 18px;
  font-family: Intro-Light;
}
.recent-box b{
  text-align: center;
  font-size: 18px;
}
.recent-box a{
  color: #333333;
  margin-top: -20px;
  text-align: right;
  text-decoration: underline;
}
.recent-box a:hover{
  color: #ea8737;
}

.recent-box .image-circle{
  border-radius: 50%;
  margin-top: 5px;
}
.recent-box .image-circle img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.increase-impact{
  text-align: left;
  padding: 10%;
  margin-top: -80px;
}
/* .increase-impact img{
  object-fit: contain;
  width: 100px;
  height: 90%;
} */
.increase-impact h4{
  margin: 5px 20px;
}
.increase-impact a {
  text-align: center;
  appearance: button;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: #ea8737;
  font-size: 15px;
  padding: 10px 15px;
  text-decoration: none;
  margin: 5px 20px;
}
.increase-impact a:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 1600px) {

  .donorhub-container{
  margin: 0 auto;
  margin-top: 10%;
  width: 70%;
  background-color: white;
}

  .esp-txt{
  font-size: 20px;
  color: #ea8737;
  margin-top: -32px;
  margin-left: -326px;
}

.en-txt{
  font-size: 20px;
  color: #ea8737;
  margin-top: -32px;
  margin-left: -80px;
}
}

@media only screen and (max-width: 600px) {

.donorhub-container{
  margin: 0 auto;
  margin-top: 37%;
  width: 100%;
  background-color: white;
}

.banner{
  background-color: #fbefe2;
  height: auto;
  border-radius: 0 0 10px 10px;
  padding-top: 60px;
}

.user-info{
  background-color: white;
  padding: 10px;
  margin: 0 auto;
}

.user-info .user-img{
  margin-bottom: 0px;
  object-fit: cover;
}
.user-info .user-img img{
  text-align: center;
  border-width: 7px;
  width: 120px;
  height: 120px;
}

.user-info hr{
  width: 50%;
  height: 1.5px;
  background-color: #ea8737;
}

.user-info p {
  text-align: center;
  font-size: 16px;
}

.user-info #user-desc{
  width: 70%;
  margin: 0 auto;
}

.user-info #user-friends {
  color: #01224d;
  margin-top: 1%;
  font-size: 18px;
}

.donations-info{
  height: 100%;
}

.esp-txt{
  font-size: 20px;
  color: #ea8737;
  margin-top: -32px;
  margin-left: 0px;
}

.en-txt{
  font-size: 20px;
  color: #ea8737;
  margin-top: -32px;
  margin-left: -20px;
}

.total-donations hr {
  width: 11%;
  margin-right: 80%;
  margin-top: 100px;
}

.donation-circles, .donation-circle {
 padding: 10%;
}

.circle-1{
  width: 180px;
  height: 180px;
  background-color: #ea8737;
  border-radius: 100%;
  margin-left: 0%;
  margin-top: 50%;
  padding-top: 40%;
  color: white;
  font-weight: bolder;
  font-size: 30px;
}

.circle-1 p{
  font-size: 13px;
  font-weight: normal;
  margin-bottom: -5px;
  margin-top: 15px;
}

.circle-2, .circle-3, .circle-4, .circle-5 {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin-top: 15px;
  margin-left: 10%;
  padding-top: 17%;
  padding-left: 1%;
  color: white;
}

.circle-3 {
  margin-left: 23%;
}

.donor-progress {
  display: flex;
  position: relative;
  width: 70%;
  margin-left: 15%;
}

.donation-progress, .progress-bar{
  background-color: rgb(201, 200, 200);
  position: absolute;
  height: 8px;
  width: 100%;
  border-radius: 16px;
}

.progress-bars{
  margin-bottom: -50px;
}

.progress-bar{
  background-color: #ea8737;
  z-index: 1;
}

.progress-text, .progress-text2 {
  margin-top: 2%;
  text-align: left;
  margin-left: 15%;
  font-size: 18px;
  width:70%;
}

.progress-txt {
  margin-top: -20px;
  text-align: left;
  margin-left:15%;
  font-size: 18px;
}

.total-donations h5{
  margin-left: 18%;
  width: 70%;
}

.recent-act h3 , .recent-act p{
  text-align:left;
}

.recent-act p {
  margin-top: -10px;
  font-size: 16px;
  margin-left: 4%;
}

.recent-act h3{
  color: #ea8737;
  margin-left: 4%;
}

.recent-act hr{
  background-color: rgb(184, 184, 184);
  width: 97%;
  height: 1px;
  margin-left: 4%;
  margin-top: -10px;
}

.recent-box{
  width: 100%;
  margin-top: 10px;
}
.recent-box .update{
  padding: 0%;
  padding-left: 50px;
  padding-top: 5px;
}
.recent-box #title{
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: -10px;
  overflow: visible;
}
.recent-box #amount{
  font-size: 18px;
  color: #ea8737;
}
.recent-box #comment{
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-top: -5px;
}
.recent-box p{
  font-size: 16px;
  margin: 0;
  width: 110%;
}
.recent-box b{
  text-align: center;
  font-size: 18px;
}
.recent-box a{
  display: none;
}
.recent-box a:hover{
  color: #ea8737;
}
.circle-5{
  margin-left: -30%;
  margin-top: 0%;
}
.increase-impact{
  text-align: left;
  padding: 10%;
  margin-top: -20px;
  margin-bottom: -150px;
}
.increase-impact h4, .increase-impact a{
  margin-left: 30px;
}
}
