.edit{
    margin-top: 150px;
    font-family: Intro-Light;
}
.donorhub-container{
    margin: 0 auto;
    margin-top: 7.8%;
    width: 70%;
    background-color: white;
    padding-bottom: 50px;
}
  
.edit .card-area{
    padding: 50px;
}
.edit .banner{
    padding: 20px;
    padding-top: 50px;
    color: #353535;
    text-align: left;
}
.edit .banner a{
    text-decoration: underline;
}
.edit .banner h2{
    text-align: center;
    font-size: 35px;
    font-family: Intro-Regular-Alt;
    color: #4e4e4e;
}
.edit label{
    font-size: 18px;
}
.edit input, .edit textarea{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 25px;
}
.edit textarea{
    height: 130px;
    max-height: 200px;
    min-height: 130px;
    margin-bottom: -10%;
}
.profile img{
    max-width: 300px;
    min-width: 300px;
    max-height: 300px;
    min-height: 300px;
    border: solid #ea8837be 12px;
    border-radius: 50%;
    margin: 10px 0 20px 0;
    padding: 10px;
    object-fit: cover;
}
.profile img:hover{
    cursor: pointer;
    opacity: 0.8;
}
.profile button{
    border-radius: 10px;
}
#photo-upload{
    display: none;
}
.profile label button:hover{
    background-color: #ffe7c375;
}
.profile label button:active{
    pointer-events: none;
    background-color: #ffe7c375;
    outline: none;
}
.profile label:hover{
    cursor: pointer;
}
.profile label button{
    background-color: transparent;
    border-radius: 15px;
    padding: 10px;
    border: 1px #c5c5c5 solid;
    outline: none;
    font-size: 18px;
}
.profile label button:hover{
    background-color: #ffe7c375;
    border: #ffe7c3 1px solid;
}
.profile label button:active{
    pointer-events: none;
    background-color: #ffe7c3;
}
.profile #random{
    background-color: transparent;
    width: 51%;
    border-radius: 15px;
    padding: 5px;
    border: 1px #c5c5c5 solid;
    outline: none;
    font-size: 18px;
}
.profile #random:hover{
    background-color: #ffe7c375;
    border: #ffe7c3 1px solid;
}
.profile #random:active{
    background-color: #ffe7c3;
}

.profile #reset{
    background-color: transparent;
    width: 51%;
    border-radius: 15px;
    padding: 5px;
    border: 1px #ca7a7a solid;
    outline: none;
    margin-bottom: 0px;
    margin-top: -20px;
    font-size: 18px;
}
.profile #reset:hover{
    background-color: #ffe2e2;
}
.profile #reset:active{
    background-color: #f8d7da
}
.profile #pic-name{
    margin: 5px 0 15px 0;
    font-size: 16px;
    font-weight: bold;
    color: #353535;
    max-width: 500px;
    overflow: hidden;
}
.edit .loader-wrapper{
    position: absolute;
    text-align: center;
    left: 49%;
    margin-top: -60px;
}
.edit .sweet-loading{
    margin: 20px;
}
.edit .actions{
    width: 200px;
    background-color: #e7e7e7;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 20px;
    margin: 10px;
    margin-bottom: 0px;
}
.edit .actions:hover{
    opacity: 0.8;
}
.edit #save{
    background-color: #d4edda;
    color: #00360c;
}
.edit #delete{
    background-color: #f8d7da;
    color: #660000;
}

@media only screen and (max-width: 600px) {
    .profile img{
        max-width: 200px;
        min-width: 200px;
        max-height: 200px;
        min-height: 200px;
        border: solid #ea8837be 8px;
        border-radius: 50%;
        margin: -20px 0 20px 0;
        padding: 10px;
        object-fit: cover;
    }
    .profile label button{
        font-size: 16px;
    }
    .profile #pic-name{
        max-width: 250px;
    }
    .profile #reset, .profile #random{
        width: 90%;
        margin-bottom: 20px;
        margin-top: -20px;
        font-size: 16px;
    }
    .edit .actions{
        width: 200px;
        background-color: #e7e7e7;
        color: white;
        font-size: 20px;
        border-radius: 10px;
        outline: none;
        border: none;
        padding: 15px;
        margin: 10px;
        margin-bottom: 20px;
    }
    .donorhub-container{
        margin: 0 auto;
        margin-top: 7.8%;
        width: 100%;
        height: auto;
        background-color: white;
      }
      
    
}