.about-us-page{
    margin-top: 150px;
    font-family: Intro-Light;
}
.about-us-visuals{
    padding:50px;
}
.about-us-top-img{
    text-align: center;
}
.about-us-top-text{
    text-align: center;
    padding:20px;
}
.about-us-top-text #labels a{
    font-weight: 600;
    cursor: pointer;
}
.about-us-top-text #labels #green{
    color: #71B98F;
}
.about-us-top-text #labels #yellow{
    color: #ECC342;
}
.about-us-top-text #labels #red{
    color: #FF7D7D;
}
.about-us-top-text #labels #blue{
    color: #0F325E;
}
.about-us-banner{
    margin-top: 70px;
    text-align: center;
    background-color: #0F325E;
    border-radius: 10px;
}
.about-us-banner p {
    padding: 20px 0;
    font-size: 22px;
    font-family: Intro-Regular-Alt;
    color: white;
}
.about-us-content-section{
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}
.content-area{
    text-align: center;
    padding: 10px;
}
.content-area-inside{
    text-align: left;
}
.about-us-content-section h2{
    font-family: Intro-Regular-Alt;
    color: #ea8737;
    font-size: 35px;
    padding-left: 20%;


}
.about-us-content-section p{
    font-size: 25px;
    padding-left: 20%;

}
.about-us-content-section img{
    width: 50%;
}
.about-us-team{
    text-align: center;
    font-family: Intro-Regular-Alt;
    padding: 20px 60px;
}
.about-us-team h1{
    font-size: 52px;
}
.about-us-team p{
    font-size: 32px;
    font-family: Intro-Light;
}
.about-us-team img{
    width: 100%;
    max-width: 350px;
    max-height: 350px;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
    margin: 20px;
    border: #ea8737 20px solid
}
.about-us-team-pics{
    margin-top: 60px;
}
.outside-img .name{
    color: #ea8737;
}
.outside-img #icon{
    color: rgb(63, 63, 63);
}
.outside-img #icon:hover{
    color: #ea8737
}
