.about-us-page{
    margin-top: 150px;
    font-family: Intro-Light;
}
.about-us-visuals{
    padding:50px;
}
.about-us-top-img{
    width: 100%;
    text-align: center;
    margin: -100px 0px;
}
.about-us-top-img img{
    width: 100%;
}
.about-title-text {
    padding: 5%;
}
.about-title-text p{
    margin-top: -50px;
    font-size: 35px;
    font-weight: 550;
}
.about-us-top-text{
    text-align: center;
    padding: 50px 10% 10px 10%;
}
.about-us-top-text #labels a{
    font-weight: 600;
    cursor: pointer;
}
.about-us-top-text #labels #green{
    color: #71B98F;
}
.about-us-top-text #labels #yellow{
    color: #ECC342;
}
.about-us-top-text #labels #red{
    color: #FF7D7D;
}
.about-us-top-text #labels #blue{
    color: #0F325E;
}
.about-us-banner{
    margin-top: 70px;
    text-align: center;
    background-color: #0F325E;
    border-radius: 10px;
}
.about-us-banner p {
    padding: 20px 0;
    font-size: 22px;
    font-family: Intro-Regular-Alt;
    color: white;
}
.about-world-text section{
    text-align: left;
    padding: 5% 22%;
}
.about-world-text section #percent{
    color: #71B98F;
    font-size: 130px;
    font-weight: 1000;
}
.about-world-text section p{
    font-size: 27px;
    text-align: left;
}
.about-us-content-section{
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}
.content-area{
    text-align: center;
    padding: 10px;
    margin-top: -50px;
}
.content-area-inside{
    text-align: left;
    max-height: 150px;
    min-height: 150px;
}
.about-us-content-section h2{
    font-family: Intro-Regular-Alt;
    color: #ea8737;
    font-size: 25px;
    padding-left: 20%;

}
.about-us-content-section p{
    font-size: 20px;
    padding-left: 20%;
}
.about-us-content-section img{
    width: 80%;
    margin-top: 20px;
}
.about-us-team{
    text-align: center;
    font-family: Intro-Regular-Alt;
    padding: 20px 60px;
    margin-top: -40px;
}
.about-us-team h1{
    font-size: 32px;
}
.about-us-team p{
    font-size: 22px;
    font-family: Intro-Light;
}
.member-pic {
    width: 100%;
}
.img-wrapper{
    padding: 20px;
}
.member-pic img{
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 50%; 
    object-fit: cover; 
    border: 15px solid #ea8737;
    outline: none;

}
.about-us-team-pics h2{
    color: #ea8737;
    text-align: left;    
    margin-top: 25px;

}
.about-us-team-pics p{
    text-align: center; 
    font-family: Intro-Regular-Alt;
    font-size: 22px;
    margin-top: 10px;

}
.about-us-team-pics #position{
    text-align: center; 
    font-family: Intro-Light;
    font-size: 20px;
    vertical-align: top;
}
.about-us-team-pics #icon{
    color: grey;
    margin-left: 15px;
}
.about-us-team-pics #icon:hover{
    color: #ea8737;
    cursor: pointer;
}