.about-page {
    padding: 30px 0px;
}
.about-banner {
    min-height: 100%;
    margin-top: -100px;
}

.about-banner-page  {
    width: 100%;
    max-height: 1200px;
    overflow: hidden;
}
.about-sdg-page  {
    width: 100%;
    padding: 0px 10%;
}

.about-sdg-page  img{    
    margin-top: 90px;
    min-width: 100%;
    min-height: 100%;
}
.about-banner-page  img{
    margin-top: 90px;
    min-width: 100%;
    min-height: 100%;
}
.about-page h1 {
    font-size: 40px;
    margin-top: 100px;
    padding: 0px 10%;
    color: #003049;
}

.about-page p {
    font-size: 25px;
    padding: 0px 10%;
    text-align: justify;
}
.sdg-card{ 
    padding: 50px 40%;
    margin-bottom: 70px;
}
.sdg-card img{    
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    .about-page h1 {
        font-size: 25px;
        margin-top: 20px;
        padding: 0px 10%;
        color: #003049;
    }
    
    .about-page p {
        font-size: 19px;
        padding: 0px 10%;
        text-align: left;
    }

    .about-sdg-page  img{    
        margin-top: 10px;
        min-width: 100%;
        min-height: 100%;
    }
    .about-banner-page  img{
        margin-top: 10px;
        min-width: 100%;
        min-height: 100%;
    }
    .sdg-card{ 
        padding: 10px 30%;
        margin-bottom: 20px;
    }
    .sdg-card img{    
        border-radius: 10px;
        width: 100%;
    }
}