.FAQ-page{
    margin-top: 10px;
    padding: 30px 10%;
}
.FAQ-section h2{
    font-size: 35px;
    color: #01224d;
    margin: 10px 0;
}
.FAQ-section p{
    font-size: 25px;
    text-align: justify;
    margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
    .FAQ-page{
        margin-top: 10px;
        padding: 30px 10%;
    }
    .FAQ-section h2{
        font-size: 25px;
        color: #0b274d;
        margin: 20px 0;
    }
    .FAQ-section p{
        font-size: 19px;
        text-align: start;
        margin-bottom: 50px;
    }
}