.faq-page{
    margin-top: 150px;
    font-family: Intro-Regular-Alt;
}
.faq-visuals{
    padding:5% 10% 5% 10%;
}

.banner-title{
    color:black;

}
.button {
    position: fixed;
    right: 0;
    top: 150px;
    transform: rotate(90deg);
    z-index: 1;
  }
  
  .not-visible {
    opacity: 0;
  }
.bottom-text{
    color:#ea8737;
    font-size: 30px;
}

.faq-drawer-area {
    margin: 20px 40px;
    padding: 20px;
    width: 80%;
    margin-left: 10%;

}
.banner-img{
    width: 80%;
    margin-left: 10%;
}

.drawer-title{
    color: #163762;
    font-size: 22px;
    padding: 15px;
    border-radius: 0px;
    margin: 20px 0 -10px 0;
    text-align: center;
    width: 100%;
}
.drawer-question{
    padding: 20px;
    border-radius: 20px;
    background-color: #E5E5E5;
    color: #2B292D;
    font-size: 22px;
    width: 100%;
}
.drawer-question a, .drawer-answer a{
    color: #ea8737;
}
.drawer-question a:hover, .drawer-answer a:hover{
    color: #ffa65e;
}
.drawer-answer{
    color: rgb(51, 51, 51);
    padding: 5px 25px;
    font-size: 18px;
    width: 100%;
}
.faq-question-area{
    margin: 10px 5px 10px 5px;
    width: 100%;
}
.banner-img{
   width: 70%;
   float: center;
}
.banner-text{
    font-size: 30px;
    text-align: center;
    align-items: center;
    margin-right: 10%;
    width: 80%;
}
@media only screen and (max-width: 600px) {
    .faq-banner {
        border-radius: 15px;
        padding: 10px;
        font-size: 20px;
        margin: 0px;
        margin-top: 10px;
        max-height: 100px;
        width: 100%;
        text-align: center;
    }
    .faq-banner img{
        display: none;
    }
    
    .faq-drawer-area {
        margin: 0px;
        padding: 10px;
        font-family: Intro-Light;
    }  
    .faq-drawer-area h1{
        font-size: 25px;
        font-family: Intro-Regular-Alt;
    }      

    .drawer-title{
        background-color: #01224d;
        color: white;
        font-size: 18px;
        padding: 15px;
        border-radius: 10px;
        margin: 20px 0 -10px 0;
    }
    .drawer-question{
        color: rgb(133, 133, 133);
        font-size: 18px;
        font-family: Intro-Regular-Alt;
    }
    .drawer-question a, .drawer-answer a{
        color: #ea8737;
        text-decoration: underline;
    }
    .drawer-question a:hover, .drawer-answer a:hover{
        color: #ffa65e;
        text-decoration: underline;
    }
    .drawer-answer{
        color: rgb(51, 51, 51);
        padding: 5px 5px;
        font-size: 16px;
    }
    .faq-question-area{
        margin: 30px;
    }

}