.dashboard-stats{
    padding: 2%;
    text-align: center;
}
.dashboard-stats h2{
    text-align: left;
}
.dashboard-stats .dashboard-stats-grid{
    margin-top: 30px;
    text-align: left;    
    font-size: 16px;
}
.dashboard-stats .dashboard-stats-grid #grey:hover{
    text-decoration: underline;
    cursor: pointer;
}
.dashboard-stats .dashboard-stats-grid p{
    margin-left: 5%;  
}
.dashboard-stats .edit-button{
    border: none;
    outline: none;
    border-radius: 5px;
    background-color:#dddddd60 ;
    padding: 5px 25px;
    text-align: center;
    color: #565656;
    font-size: 13px;
    min-width: 100px;
}
.dashboard-stats .edit-button:hover{
    background-color:#dddddd ;
}