.home-page{    
    width: 100%;
    padding: 5%;}
.home{
    background-color: white;
}
#intro-text  {
    font-family: Kollektif, Arial, serif;
    float: left;
    font-size: 30px;
    width: 100%;
    margin-bottom: 10px;
}
#follow-us{
    font-family: Kollektif, Arial, serif;
    float: left;
    font-size: 25px;
    width: 100%;
}
.links {
    text-align: center;
    font-size: 40px;
    margin: 50px 0px;
}
.links i{
    margin-right: 10px;
    margin-left: 50px;
    vertical-align: middle;
}
.links span{
    vertical-align: middle;
    line-height: 100px;
}
.links a{
    font-family: Kollektif, Arial, serif;
    font-weight: bold;
    color:#d62828;
}
hr{
    color:#003049;
    width: 100%;
    text-align: center;
}
#description-home {
    text-align: justify;
    font-size: 35px;
    width: 100%;
    margin-bottom: 50px;
}
#description-logo{
    width: 120%;
    margin-top: 0px;
    margin-left: 120px;
}

#construction-content, #construction-path {
    text-align: justify;
    font-size: 25px;
}

#construction-partners{
    font-size: 20px;
    text-align: center;
    margin: 70px;
}
#construction-partners h1{
    font-size: 70px;
}
#partners{
    text-align: center;
}
#partners img{
    width: 200px;
    border-radius: 10px;
    margin: 10px 50px;
}
.banner-home{
    padding-bottom: 100px;
    background-color: #003049;
}
.banner-home-alt{
    margin-top: 120px;
    padding-bottom: 100px;
    background-color: #003049;

}
.banner-home img, .banner-home-alt img {
    border-top: 100px solid #d62828;
    border-bottom: 100px solid #fcbf49;
}

@media screen and (max-width: 1000px) {
    #follow-us{
        text-align: center;
        width: 100%;
    }
    .links {
        text-align: center;
        font-size: 30px;
        margin: 10px 0px;
    }
    .links span{
        text-align: start;
        display: block;
    }
   
    .intro{
        clear:both;
        width:100%,
    }
    #intro-text{
        clear: both;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 40px;
        text-align: center;
        padding: 0px 20px;
    }
    #description{
        clear: both;
        width:100%;
        padding: 20px;
    }
    #description-home{
        text-align: start;
        font-size: 25px;
    }
    #description-logo{
        width: 100%;
        margin-top: -50px;
        margin-left: 0px;
    }
    #construction-content{
        text-align: center;
    }
    #construction-partners{
        text-align: center;
    }
    #construction-path{
        padding: 20px;
    }
    .banner-home{
        padding-bottom: 20px;
        background-color: #003049;
    }
    .banner-home-alt{
        background-color: #003049;
        padding-bottom: 20px;
        margin-top: 350px;
    }
    .banner-home img, .banner-home-alt img {
        border-top: 20px solid #d62828;
        border-bottom: 20px solid #fcbf49;
    }
    #follow-us{
        font-size: 25px;
        width: 100%;
    }
    .links{
        margin-left: 5%;
    }
    #construction-partners h1{
        font-size: 40px;
    }
    #partners img{
        width: 100px;
    }
    
}
