.mobile-only{
    display: none;
}
.home-page{    
    width: 100%;
    padding: 5%;}
.home{
    background-color: white;
    margin-top: -5%;
}
#intro-text  {
    font-family: Kollektif, Arial, serif;
    float: left;
    font-size: 25px;
    width: 100%;
    margin-bottom: 10px;
}
#follow-us{
    font-family: Kollektif, Arial, serif;
    float: left;
    font-size: 25px;
    width: 100%;
}
.links {
    text-align: center;
    font-size: 40px;
    margin: 50px 0px;
}
.links i{
    margin-right: 10px;
    margin-left: 50px;
    vertical-align: middle;
}
.links span{
    vertical-align: middle;
    line-height: 100px;
}
.links a{
    font-family: Kollektif, Arial, serif;
    font-weight: bold;
    color:#f73a00;
}
hr{
    color:#003049;
    width: 100%;
    text-align: center;
}
#description-home {
    text-align: justify;
    font-size: 25px;
    width: 100%;
    margin-bottom: 30px;
}
#description-logo{
    width: 110%;
    margin-top: -20%;
    margin-left: 120px;
}

#construction-content, #construction-path {
    text-align: justify;
    font-size: 25px;
}

#construction-partners{
    font-size: 20px;
    text-align: center;
    margin: 70px;
}
#construction-partners h1{
    font-size: 70px;
}
#partners, #cat{
    text-align: center;
}
#cat{
    min-width: 100px;
}
#partners img{
    width: 200px;
    border-radius: 10px;
    margin: 10px 50px;
}
.banner-home{
    padding-bottom: 10px;
}
.banner-home-alt img{
    padding-bottom: 10px;
    border-top: 70px solid #01224d;
}


@media screen and (max-width: 600px) {
    .mobile-only{
        display: inline;
        margin: 20px 10%;
        padding: 15px 0px;
        background-color: #d62828;
        border: #f77f00;
        font-size: 20px;
    }
    .home {
        margin-top: -100px;
    }
    #follow-us{
        text-align: center;
        width: 100%;
    }
    .links {
        text-align: center;
        font-size: 30px;
        margin: 10px 0px;
    }
    .links span{
        text-align: start;
        display: block;
    }  
    .links a {
        font-size: 25px;
    }
    .intro{
        clear:both;
        width:100%,
    }
    #intro-text{
        clear: both;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 40px;
        text-align: center;
        padding: 0px 20px;
    }
    #description{
        clear: both;
        width:100%;
        padding: 20px;
    }
    #description-home{
        text-align: start;
        font-size: 23px;
    }
    #description-logo{
        width: 100%;
        margin-top: -50px;
        margin-left: 0px;
    }
    #construction-content{
        text-align: center;
    }
    #construction-partners{
        text-align: center;
    }
    #construction-path{
        padding: 20px;
    }
    .banner-home{
        padding-bottom: 10px;
    }
    #follow-us{
        font-size: 25px;
        width: 100%;
    }
    .links{
        margin-left: 5%;
    }
    #construction-partners h1{
        font-size: 30px;
    }
    #partners img{
        width: 100px;
    }
    .banner-home-alt img{
        padding-bottom: 10px;
        border-top: 40px solid #003049;
    }
    #cat{
        min-width: 100%;
    }
}
