.home-page{
    margin-top: 150px;
    font-family: Intro-Light;
}
.home-page .top-left{
    padding: 15% 20%;
}
.home-page .top-left p{
    font-size: 35px;
    text-align: left;
    font-weight: 580;
}
.home-page .top-left button{
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #01224d;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 200;
}
.home-page .top-left button a{
    color: white;
    text-decoration: none;
}
.home-page .top-left button:hover{
    opacity: 80%;
}
.home-page .top-right{
    padding: 0%;
    padding-top: 5%;
    text-align: right;
    max-height: 500px;
    overflow: hidden;

}
.home-page .top-right img{
    width: 130%;
    margin-right: -25%;
    margin-top: -25%;
    object-fit: cover;    
}
.home-page .illustrations{
    margin-top: 70px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
}
.home-page .illustrations #illustration{
    width: 40%;
    max-width: 200px;
    min-width: 100px;
}
.home-page .illustrations #dotted-line{
    width: 100%;
    margin-top: -30px;
}
.home-page .illustrations #text{
    margin-top:-50px;
    font-size: 20px;
    color: #01224d;
    padding: 0px 20px;
}