@font-face {
  font-family: "Ramona-Bold";
  src: local("Ramona"), url(./fonts/Ramona-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Ramona-Light";
  src: local("Ramona"), url(./fonts/Ramona-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Intro-Regular-Alt";
  src: local("Intro"), url(./fonts/Intro-Regular-Alt.otf) format("opentype");
}
@font-face {
  font-family: "Intro-Thin";
  src: local("Intro"),
    url(./fonts/Intro-Thin-Alt-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Intro-Light";
  src: local("Intro"),
    url(./fonts/Intro-Light-Alt-Regular.otf) format("opentype");
}
@font-face {
  font-family: "CamphorW01-Regular";
  src: url("//db.onlinewebfonts.com/t/22f912b4b10a938d5f28b7fe79ed7466.ttf")
    format("truetype");
}

:root {
  --brand-orange: #eb913b;
  --brand-black: #252525;
  --brand-grey: #f0f0f0;
  --brand-blue: #01224d;
  --category-green: #70b88f;
  --category-red: #ff7d7d;
  --category-yellow: #edc343;
  --category-dark-blue: #0e325e;
}
