/* 
.login {
  text-align: center;
  margin: 10%;
  vertical-align: auto;
}
.input_field{
  margin: 10px;
}
.homePage{
  text-align: center;
}
.donate{
  text-align: center;
  padding: 1%;
  background-color: rgb(255, 231, 200);
  height: auto;
}

.drawer {
  height:100%;
  margin-top: 50px;
  padding: 30px;
  background-color: #ff8e8e;
}
 */

 #app-bar{
   background-color: darkcyan;
   height: 200px;
 }

 #app-bar-text {
   padding-top: 50px;
   padding-left: 50px;
   color:wheat;
   font-size: 50px;
   vertical-align: auto;
 }

#app-bar-statement {
  padding-top: 50px;
  color:wheat;
  font-size: 30px;
  padding-left: 30%;
}